In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Los Angeles", "Seattle"];
print (cities);

['Atlanta', 'Baltimore', 'Chicago', 'Los Angeles', 'Seattle']

In [9]:
print (cities [0]);

Atlanta

In [6]:
# Learning list

arr = [112,20];
print (arr)

[112, 20]

In [7]:
"""We are learning Python Programming 
learning list now"""

print ("Hello World");

Hello World

In [17]:
cities[0]="Las Vegas";
print(cities);

['Las Vegas', 'New York', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'New York', 'New York', 'England']

In [12]:
cities.append("England");
print (cities);

['Atlanta', 'Baltimore', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'New York', 'New York', 'England']

In [19]:
newList = cities + arr;
print (newList);

['Las Vegas', 'New York', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'New York', 'New York', 'England', 112, 20]

In [23]:
cities.insert (7, "London")
print (cities)

['Las Vegas', 'New York', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'London', 'New York', 'New York', 'England']

In [24]:
cities.insert (8, "Manchester")
print (cities)

['Las Vegas', 'New York', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'London', 'Manchester', 'New York', 'New York', 'England']

In [25]:
cities.insert (9, "United Kingdom")
print (cities)

['Las Vegas', 'New York', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'London', 'Manchester', 'United Kingdom', 'New York', 'New York', 'England']

In [32]:
del cities[2]
print (cities)

['Las Vegas', 'New York', 'Los Angeles', 'Seattle', 'New York', 'New York', 'London', 'Manchester', 'United Kingdom', 'New York', 'New York', 'England']

In [33]:
del cities [5]
print (cities)

['Las Vegas', 'New York', 'Los Angeles', 'Seattle', 'New York', 'London', 'Manchester', 'United Kingdom', 'New York', 'New York', 'England']

In [35]:
del cities [9]
print (cities)

['Las Vegas', 'New York', 'Los Angeles', 'Seattle', 'New York', 'London', 'Manchester', 'United Kingdom', 'New York']

In [44]:
cities[:5]
print (cities)

['Las Vegas', 'New York', 'Los Angeles', 'Seattle', 'New York', 'London', 'Manchester', 'United Kingdom', 'New York']

In [45]:
del cities [8]
print (cities)

['Las Vegas', 'New York', 'Los Angeles', 'Seattle', 'New York', 'London', 'Manchester', 'United Kingdom']

In [51]:
city0 = "Karachi";
city1 = " Lahore";
city2 = "Islamabad";
city3 = "Peshawar";
city4 = "Bahawalpur";
city5 = "Sialkot";
print ("Welcome to" + city_1);

Welcome to Lahore

In [61]:
cities = ["Karachi", "Lahore", "Islamabad", "Peshawar", "Bahawalpur", "Sialkot"]
print (+city","+city1+","+city2+","+city3+","+city4+","+city5)

SyntaxError: invalid syntax (<ipython-input-61-e285b3dd065c>, line 2)

In [72]:
city0 = "Karachi";
city1 = "Lahore";
city2 = "Islamabad";
city3 = "Peshawar";
city4 = "Bahawalpur";
city5 = "Sialkot";
print (city0+","+city1+","+city2+","+city3+","+city4+","+city5)

Karachi,Lahore,Islamabad,Peshawar,Bahawalpur,Sialkot

In [67]:
del cities[1]
print (cities)

['Karachi', 'Islamabad', 'Peshawar', 'Bahawalpur', 'Sialkot']

In [71]:
cities.append("Rawalpindi")
print (cities)

['Karachi', 'Islamabad', 'Peshawar', 'Bahawalpur', 'Sialkot', 'Rawalpindi']